In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config2 import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Lebu,CL,2022-03-30 21:15:39,-37.6167,-73.6500,55.27,67,21,23.62
1,1,Carnarvon,AU,2022-03-30 21:11:07,-24.8667,113.6333,77.07,88,100,3.44
2,2,Coquimbo,CL,2022-03-30 21:15:39,-29.9533,-71.3436,62.33,77,0,11.50
3,3,El Campo,US,2022-03-30 21:15:40,29.1966,-96.2697,87.76,17,0,21.85
4,4,Kimberley,ZA,2022-03-30 21:15:40,-28.7323,24.7623,64.09,94,97,0.00

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [8]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent windiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Carnarvon,AU,2022-03-30 21:11:07,-24.8667,113.6333,77.07,88,100,3.44
3,3,El Campo,US,2022-03-30 21:15:40,29.1966,-96.2697,87.76,17,0,21.85
6,6,Sinnamary,GF,2022-03-30 21:15:41,5.3833,-52.9500,78.26,78,97,8.03
9,9,Rikitea,PF,2022-03-30 21:15:42,-23.1203,-134.9692,78.93,73,100,16.87
12,12,Arraial Do Cabo,BR,2022-03-30 21:15:43,-22.9661,-42.0278,80.56,83,0,12.66
14,14,Kapaa,US,2022-03-30 21:15:44,22.0752,-159.3190,79.48,76,40,12.66
18,18,Puerto Ayora,EC,2022-03-30 21:15:45,-0.7393,-90.3518,85.96,90,100,5.01
19,19,Saint-Philippe,RE,2022-03-30 21:15:45,-21.3585,55.7679,78.39,82,93,20.49
20,20,Georgetown,MY,2022-03-30 21:12:15,5.4112,100.3354,82.33,83,20,0.00
22,22,Vila Velha,BR,2022-03-30 21:15:46,-20.3297,-40.2925,82.35,81,0,9.22

In [17]:
preferred_cities_df.count()

City_ID       155
City          155
Country       155
Date          155
Lat           155
Lng           155
Max Temp      155
Humidity      155
Cloudiness    155
Wind Speed    155
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1         Carnarvon      AU     77.07 -24.8667  113.6333
3          El Campo      US     87.76  29.1966  -96.2697
6         Sinnamary      GF     78.26   5.3833  -52.9500
9           Rikitea      PF     78.93 -23.1203 -134.9692
12  Arraial Do Cabo      BR     80.56 -22.9661  -42.0278
14            Kapaa      US     79.48  22.0752 -159.3190
18     Puerto Ayora      EC     85.96  -0.7393  -90.3518
19   Saint-Philippe      RE     78.39 -21.3585   55.7679
20       Georgetown      MY     82.33   5.4112  100.3354
22       Vila Velha      BR     82.35 -20.3297  -40.2925

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [26]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [27]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Carnarvon,AU,77.07,-24.8667,113.6333,Hospitality Carnarvon
3,El Campo,US,87.76,29.1966,-96.2697,"Lonestar Inn, El Campo Texas"
6,Sinnamary,GF,78.26,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
9,Rikitea,PF,78.93,-23.1203,-134.9692,People ThankYou
12,Arraial Do Cabo,BR,80.56,-22.9661,-42.0278,Pousada Porto Praia
14,Kapaa,US,79.48,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
18,Puerto Ayora,EC,85.96,-0.7393,-90.3518,Finch Bay Galapagos Hotel
19,Saint-Philippe,RE,78.39,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
20,Georgetown,MY,82.33,5.4112,100.3354,Cititel Penang
22,Vila Velha,BR,82.35,-20.3297,-40.2925,Hotel Vitória Palace

In [29]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [31]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))